*

!public/
!public/index.html
!public/favicon.ico
!public/logo192.png
!public/logo512.png
!public/manifest.json
!public/robots.txt

!src/
!src/App.css
!src/App.js
!src/App.test.js
!src/index.css
!src/index.js
!src/logo.svg
!src/reportWebVitals.js
!src/setupTests.js

!.gitlab-ci.yml
!Dockerfile
!package-lock.json
!package.json
!README.md