*

!public/
!public/index.html
!public/favicon.ico
!public/logo192.png
!public/logo512.png
!public/manifest.json
!public/robots.txt

!src/
!src/components/
!src/components/Navbar/
!src/components/Navbar/index.js
!src/components/Navbar/navbar-elements.js
!src/components/Sidebar/
!src/components/Sidebar/index.js
!src/components/Sidebar/sidebar-elements.js
!src/pages/
!src/pages/index.js
!src/App.css
!src/App.js
!src/App.test.js
!src/index.css
!src/index.js
!src/logo.svg
!src/reportWebVitals.js
!src/setupTests.js

!.dockerignore
!.gitignore
!.gitlab-ci.yml
!Dockerfile
!package-lock.json
!package.json
!README.md